
		<style type="text/css">
			input{
				width:250px !important;
				border:1px solid gray !important;	
				height:40px !important;
				padding:10px !important;
				margin:1pxx !important;		
			}
			
			.loginBox{
				width:250px !important;
				margin-left:auto !important;
				margin-right:auto !important;
				margin-top: 3% !important;
				padding: 1% !important;			
			}
			.mainHeading{
				margin-left:auto !important;
				margin-right:auto !important;
				font-size: 25px !important;
				font-weight: bold !important;
				width: 230px !important;
				padding: 1% !important;
				color: rgb(11, 117, 175) !important;
			}
			.loginButton{
				margin-top:10px !important;
							
			}
			.warning{
				color:red;			
			}
			
		</style>
		<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/contacts.css" />
		<script src="{{STATIC_URL}}js/jquery-1.8.2.min.js" type="text/javascript"></script>		
		<div class='mainHeading'>Contacts Manager</div>
		<div id='loginContainer' class='loginBox'>
			 <form action ="/userLogin/" method = "POST">{% csrf_token %}
				<div><input type="text" id="username" name="username" placeholder="Username" value='{{enteredUsername}}'></div>
				<div ><input type="password" id="password" name="password" placeholder="Password"></div>
				<div class="loginButton"><input type="submit" value="Login" class="btn btn-info"><div>
				<div class="loginButton"><a href="/signup/" ><input type='button' value='Sign Up' class="btn btn-primary"/></a><div>
				<div class="loginButton"><a href="{% url 'fb_login'  %}"><input type='button' value='Login with Facebook' class='facebookButton'/></a><div>
				<div class="warning">{{error}}</div>
			</form>
		</div>
